body
{
  color: #2e3436;
  font-family: sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 30px;
}

.clearboth
{
  clear: both;
}

.plugin
{
  border: 1px solid #d3d7cf;
  float: left;
  margin-bottom: 60px;
  padding: 10px;
  width: 722px;
}

.keyword
{
  color: #c00;
}

.value
{
  color: #00c;
}

.block_top
{
  background: #8ae234;
  margin-bottom: 10px;
  min-height: 48px;
}

.block_top div
{
  font-size: 30px;
  line-height: 48px;
  margin-left: 1%;
  vertical-align: middle;
}




.block_user_top div
{
  float: left;
  margin-left: 3%;
}

.block_user_bottom
{
  margin-left: 10%;
}

.block_friends_entry img
{
  float: left;
  width: 48px;
}

.block_friends_entry_name
{
  float: left;
  font-size: 20px;
  line-height: 48px;
  margin-bottom: 10px;
  margin-left: 3%;
  vertical-align: middle;
}

.block_friends_entry
{
  border: 1px solid #d3d7cf;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 95%;
}

.block_user_top img,
.block_textsearch_top div,
.block_location_top div,
.block_interests_top div
{
  float: left;
}

.block_user_bottom .block_user_entry_key,
.block_friends_bottom .block_friends_entry_key
{
  float: left;
  width: 25%;
}

.block_user_bottom .block_user_entry_value,
.block_friends_bottom .block_friends_entry_value
{
  margin-left: 25%;
}

.block_textsearch_entry,
.block_location_entry,
.block_interests_entry,
.block_mail_entry
{
  margin-bottom: 30px;
}

.block_textsearch_entry_value,
.block_location_entry_value,
.block_interests_entry_value,
.block_mail_entry_value
{
  border: 1px solid #d3d7cf;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 95%;
}

.block_textsearch_entry_value_info,
.block_location_entry_value_info,
.block_interests_entry_value_info,
.block_mail_entry_value_info
{
  float: right;
  font-size: 10px;
  margin-right: 3%;
}
